@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;

.CredentialForm {
  &__input-wrapper {
    margin-bottom: 22px;
  }
  &__search-wrapper {
    margin-bottom: 22px;
    & .file-input {
      margin-bottom: 15px;
      & p {
        &.cds--file--label {
          margin-bottom: 6px;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.1599999964237213px;
          color: #161616;
        }
        &.file-input__description {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.1599999964237213px;
          color: #525252;
        }
      }
    }
  }
  &__search-input-wrapper {
    position: relative;
    & .search-list-wrapper {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      z-index: 999999;
      //   border-bottom: 1px solid #8d8d8d;
      &.hide {
        display: none;
        // visibility: hidden;
      }
      & .cds--contained-list__header {
        display: none;
      }
      & ul {
        & li {
          cursor: pointer;
          &:hover {
            background-color: #e5e5e5;
          }
          &:last-of-type {
            border-bottom: 1px solid #8d8d8d;
          }
          & .cds--contained-list-item__content {
            & > div {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;

              & > span {
                flex: 1;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.1599999964237213px;
                color: #161616;
              }
            }
          }
        }
      }
    }
    & .error_msg {
      color: #da1e28;
      font-size: 12px;
      font-weight: 400;
      margin-top: 4px;
    }
  }
}
