@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.credential {
  margin: 0 auto;
  max-width: 90vw;

  @include breakpoint(md) {
    margin-top: -24px;
    margin-left: -30px;
    width: 616px;
  }

  &__block {
    padding: 16px 28px;
    text-align: center;
    background-color: $white;

    @include breakpoint(md) {
      padding: 56px 62px;
    }

    &__heading {
      @include type-style("productive-heading-04");
      line-height: 40px;
      @include breakpoint(md) {
        @include type-style("productive-heading-05");
      }
    }

    &__text {
      @include type-style("body-short-01");
      color: $gray-70;
      max-width: 450px;
      margin: $spacing-03 auto $spacing-04;
      line-height: 1.2;
      @include breakpoint(md) {
        @include type-style("body-short-02");
        line-height: 22px;
        margin-bottom: $spacing-07;
      }
    }

    &__link {
      color: $color-blue !important;
      text-decoration: underline;
    }

    .cds--inline-notification__close-button {
      display: none;
    }

    .cds--btn {
      padding: 16px;
      height: 36px;
      min-height: 36px;

      @include breakpoint(md) {
        height: 48px;
      }
    }
  }

  &__qr {
    text-align: center;
    background-color: $white;
    padding-bottom: 24px;

    &__img {
      height: 164px;
      width: 164px;

      @include breakpoint(md) {
        height: 244px;
        width: 244px;
      }
    }

    &__code {
      position: relative;
      margin: 0 auto;

      &--pending {
        .credential__qr__img {
          filter: opacity(0.4);
        }
        .credential__qr__loading {
          position: absolute;
          top: 80px;
          left: 265px;
        }
      }
    }

    &__pin {
      @include type-style("body-01");
    }
  }

  .empty-page {
    &__desc {
      margin-top: 8px;
      padding: 0;
      max-width: 100%;
    }
  }

  &__heading {
    @include type-style("productive-heading-01");
    margin: $spacing-09 0 $spacing-07;
  }

  &__wrapper {
    display: flex;

    .cds--structured-list-row {
      p {
        line-height: 20px;
      }

      &:first-of-type {
        .cds--structured-list-td {
          border-top: none;
        }
      }
    }

    .cds--structured-list-td {
      overflow: hidden;
      overflow-wrap: break-word;
      padding-bottom: 21px;
    }

    .cds--structured-list-tbody {
      width: 100%;
    }
  }

  &__table {
    &__row {
      display: flex;
    }

    &__key {
      min-width: 144px;
      p {
        @include type-style("body-short-01");
      }
    }
    &__content {
      flex: 1;
      a {
        @include type-style("body-short-01");
        max-width: 336px;
        display: block;
        color: $gray-70;
      }
      p {
        @include type-style("body-short-01");
        max-width: 180px;

        @include breakpoint(md) {
          max-width: 336px;
        }
      }
    }
  }

  &__notification {
    margin-top: $spacing-09;
    width: 100%;
    background: $color-yellow-light;
    * {
      color: $gray-90;
    }

    .cds--toast-notification__close-button {
      display: none;
    }

    &__child {
      @include type-style("body-short-01");
      margin-bottom: $spacing-04;
    }

    &__link {
      color: $blue-60;
      cursor: pointer;
    }
  }
}
