@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;

.form {
  .cds--date-picker--single {
    width: 100%;
    .cds--date-picker-container {
      width: 100%;
    }
    .cds--date-picker__input {
      width: 100% !important;
    }
  }

  .cds--text-input,
  .cds--date-picker__input {
    &::placeholder {
      color: #a8a8a8;
    }
  }

  &__button {
    margin-right: $spacing-06;
  }

  &__stack {
    width: 90vw;
    grid-template-columns: 100%;
    grid-column-gap: 32px;

    @include breakpoint(md) {
      width: 633px;
      grid-template-columns: repeat(auto-fill, 300px);
    }
  }

  &__row {
    @include breakpoint(md) {
      grid-column: span 2;
    }

    &__buttons {
      display: flex;
      button {
        margin-right: $spacing-06;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }

  &__issued-credentials-head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 15px;
    }
    & button {
      padding-top: 3px;
      padding-bottom: 3px;
      --cds-layout-size-height-local: none;
    }
  }
  &__search-list-wrapper {
    & .cds--contained-list__header {
      display: none;
    }
    & ul {
      & li {
        & .cds--contained-list-item__content {
          & > div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 30px;
            @media screen and (max-width: 600px) {
              gap: 10px;
            }
            & > span {
              &:first-of-type {
                min-width: 110px;
              }
              &:last-of-type {
                flex: 1;
              }
            }
          }
        }
        &:last-of-type {
          border-bottom: 1px solid #c6c6c6;
        }
      }
    }
  }
  &__search-wrapper {
    grid-column: span 2;
  }
}

.cds--form {
  .cds--inline-notification {
    margin-bottom: 56px;
    margin-top: -32px;
  }
}
