@use "@carbon/react/scss/breakpoint" as *;

/* Edit password settings is the only form that doesn't follow
the pattern but instead lists inputs one below another.
This is easier than to pass another prop next to 12 props that form
already takes in.
*/
.password_override {
  .form__stack {
    display: flex;
    flex-direction: column;

    .cds--form-item {
      @include breakpoint(md) {
        max-width: 300px;
      }
    }
  }
}
